<nav
  class="text-base sm:text-base md:text-xl bg-primary text-white shadow-xs shadow-secondary p-2 fixed top-0 w-full z-50"
>
  <div class="container mx-auto flex items-center justify-between max-w-5xl">
    <!-- Logo -->
    <a class="text-lg font-bold flex-none" routerLink="/">Mon Portfolio</a>

    <!-- Menu Desktop -->
    <ul class="hidden md:flex flex-none justify-center gap-x-4">
      <li>
        <a
          routerLink="/home#about"
          routerLinkActive="font-bold"
          class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
          >À propos</a
        >
      </li>
      <li>
        <a
          routerLink="/home#projects"
          routerLinkActive="font-bold"
          class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
          >Projets</a
        >
      </li>
      <li>
        <a
          routerLink="/home#contact"
          routerLinkActive="font-bold"
          class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
          >Contact</a
        >
      </li>
    </ul>

    <!-- Zone boutons DarkMode + Settings (Desktop uniquement) -->
    <div class="hidden md:flex flex-none gap-x-4">
      <button
        class="focus:outline-none hover:scale-105 transition-all duration-300"
        aria-label="DarkMode"
        (click)="toggleDarkMode()"
      >
        <img
          class="w-6 h-6 transition-all duration-300 hover:invert hover:brightness-125"
          height="24"
          width="24"
          alt="DarkMode"
          [ngSrc]="darkMode ? '/images/mobile/light.svg' : '/images/mobile/moon.svg'"
        />
      </button>
      <a
        routerLink="/settings"
        class="focus:outline-none hover:scale-105 transition-all duration-300"
        aria-label="Paramètres"
      >
        <img
          ngSrc="/images/mobile/settings.svg"
          alt="Settings"
          class="w-6 h-6 transition-all duration-300 hover:invert hover:brightness-125"
          height="24"
          width="24"
        />
      </a>
    </div>

    <!-- Bouton menu hamburger pour mobile -->
    <button
      class="flex md:hidden focus:outline-none z-50"
      aria-label="Ouvrir/fermer le menu"
      (click)="toggleMenu()"
    >
      <img
        class="w-6 h-6"
        height="24"
        width="24"
        [ngSrc]="menuIsOpen ? '/images/mobile/close.svg' : '/images/mobile/open.svg'"
        [alt]="menuIsOpen ? 'Fermer le menu' : 'Ouvrir le menu'"
      />
    </button>
  </div>

  <!-- Menu Mobile -->
  <ul
    id="mobile-menu"
    class="absolute inset-x-0 top-0 bg-primary text-white text-center transform transition-transform duration-300 md:hidden"
    [ngClass]="menuIsOpen ? 'translate-y-0' : '-translate-y-full'"
  >
    <li class="p-4">
      <a
        routerLink="/home#about"
        routerLinkActive="font-bold"
        class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
        (click)="toggleMenu()"
        >À propos</a
      >
    </li>
    <li class="p-4">
      <a
        routerLink="/home#projects"
        routerLinkActive="font-bold"
        class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
        (click)="toggleMenu()"
        >Projets</a
      >
    </li>
    <li class="p-4">
      <a
        routerLink="/home#contact"
        routerLinkActive="font-bold"
        class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
        (click)="toggleMenu()"
        >Contact</a
      >
    </li>
    <li class="p-4">
      <a
        routerLink="/settings"
        routerLinkActive="font-bold"
        class="hover:text-text hover:scale-105 hover:invert transition-all duration-300"
        (click)="toggleMenu()"
        >Settings</a
      >
    </li>
  </ul>
</nav>
