<nav class="bg-primary text-text p-4">
  <div class="container mx-auto flex justify-between">
    <a class="text-lg font-bold" routerLink="/">Mon Portfolio</a>
    <ul class="flex space-x-4">
      <li><a routerLink="/" routerLinkActive="font-bold">Accueil</a></li>
      <li><a routerLink="/home#about" routerLinkActive="font-bold">À propos</a></li>
      <li><a routerLink="/home#projects" routerLinkActive="font-bold">Projets</a></li>
      <li><a routerLink="/home#contact" routerLinkActive="font-bold">Contact</a></li>
    </ul>
  </div>
</nav>
