<div
  class="container bg-primary text-white p-6 sm:p-8 rounded-lg shadow-lg shadow-secondary mx-auto flex items-center justify-between border-1 border-secondary"
>
  <!-- Image -->
  <img
    ngSrc="/images/about/LinkedInPhotoProfil.webp"
    alt="Photo de profil"
    priority
    width="400"
    height="400"
    class="w-24 sm:w-32 md:w-40 lg:w-48 xl:w-56 h-auto rounded-full object-cover shadow-xs border-2 border-secondary"
  />

  <!-- Informations -->
  <div class="flex-1 text-center sm:text-left ml-4 px-8">
    <h2 class="text-white font-semibold text-lg md:text-6xl">Nédellec Julien</h2>
    <p class="text-gray-300 text-sm md:text-2xl pb-4">
      Concepteur & Développeur d'Applications Web | Angular & Node.js
    </p>
    <p class="text-white text-sm md:text-lg mb-4">
      Développeur web spécialisé en Angular et Node.js, je conçois et développe des solutions
      performantes,<br />
      évolutives et adaptées aux besoins spécifiques de chaque projet.
    </p>
    <div class="flex space-x-4">
      <app-button
        variant="secondary"
        [title]="'Télécharger mon CV'"
        [type]="'button'"
        [img]="'/images/about/download.svg'"
      />
      <app-button
        variant="accent"
        [title]="'Mon GitHub'"
        [type]="'button'"
        [img]="'/images/about/github.svg'"
      />
    </div>
  </div>
</div>
<div class="container flex flex-col px-8 justify-center items-center mx-auto text-center mt-8">
  <p
    class="text-lg font-medium md:text-xl lg:text-2xl leading-relaxed text-text drop-shadow-xl drop-shadow-secondary"
  >
    Issu de la chaudronnerie, j’ai su transposer la rigueur et la précision de ce métier au
    développement web. Aujourd’hui, spécialisé en Angular et Node.js, je conçois des solutions
    performantes et adaptées aux besoins spécifiques de chaque projet, en alliant technicité et
    innovation.
  </p>
</div>
