<div class="container mx-auto px-4 mt-12 relative">
  <!-- Fond avec gradient amélioré -->
  <div
    class="absolute inset-0 bg-gradient-to-r from-primary/10 via-tertiary/5 to-primary/10 blur-2xl -z-10 animate-pulse"
  ></div>

  <h2 class="relative text-4xl font-bold text-center mb-12 group text-text">
    <span class="relative inline-block">
      Mes Compétences
      <span
        class="absolute -bottom-2 left-0 w-full h-1 bg-tertiary/60 transform origin-left transition-transform duration-300 group-hover:scale-x-100 scale-x-50"
      ></span>
      <span class="absolute -top-4 -right-4 w-12 h-12 rounded-full bg-primary/40 blur-sm"></span>
    </span>
  </h2>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-8">
    <!-- Frontend Card -->
    <div
      class="relative p-8 rounded-lg bg-background/90 backdrop-blur-md border-2 border-tertiary/20 shadow-lg transform hover:-translate-y-1 transition-all duration-300"
    >
      <h3 class="text-xl font-bold text-text mb-4">Frontend Development</h3>
      <p class="text-text/70 mb-6">
        Connaissances des technologies de développement web modernes pour la création d'interfaces
        utilisateur réactives, performantes et esthétiques, avec une appétence particulière dans les
        frameworks JavaScript.
      </p>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-4">
        <!-- Angular -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/angular.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Angular</span>
        </div>
        <!-- Bootstrap -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/bootstrap.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Bootstrap</span>
        </div>
        <!-- CSS -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/css.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">CSS</span>
        </div>
        <!-- HTML5 -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/html5.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">HTML5</span>
        </div>
        <!-- JavaScript -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/javascript.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">JavaScript</span>
        </div>
        <!-- TailwindCSS -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/tailwindcss.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">TailwindCSS</span>
        </div>
        <!-- TypeScript -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/frontend/typescript.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">TypeScript</span>
        </div>
      </div>
    </div>

    <!-- Backend Card -->
    <div
      class="relative p-8 rounded-lg bg-background/90 backdrop-blur-md border-2 border-tertiary/20 shadow-lg transform hover:-translate-y-1 transition-all duration-300"
    >
      <h3 class="text-xl font-bold text-text mb-4">Backend Development</h3>
      <p class="text-text/70 mb-6">
        Connaissances dans la conception et le développement de services côté serveur, la gestion de
        bases de données relationnelles et NoSQL, ainsi que l'implémentation d'APIs RESTful et la
        gestion des microservices..
      </p>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-4">
        <!-- MongoDB -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/backend/mongodb.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">MongoDB</span>
        </div>
        <!-- MySQL -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/backend/mysql.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">MySQL</span>
        </div>
        <!-- NestJS -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/backend/nestjs.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">NestJS</span>
        </div>
        <!-- NodeJS -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/backend/nodedotjs.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">NodeJS</span>
        </div>
        <!-- PostgreSQL -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/backend/postgresql.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">PostgreSQL</span>
        </div>
        <!-- Spring Boot -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/backend/springboot.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Spring Boot</span>
        </div>
      </div>
    </div>

    <!-- DevOps Card -->
    <div
      class="relative p-8 rounded-lg bg-background/90 backdrop-blur-md border-2 border-tertiary/20 shadow-lg transform hover:-translate-y-1 transition-all duration-300"
    >
      <h3 class="text-xl font-bold text-text mb-4">Environment & Outils de Développement</h3>
      <p class="text-text/70 mb-6">
        Maîtrise des environnements de développement intégrés (IDE), des outils de versioning, de
        conteneurisation et des infrastructures système nécessaires au développement moderne.
      </p>
      <div class="grid grid-cols-3 sm:grid-cols-4 gap-4">
        <!-- Docker -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/docker.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Docker</span>
        </div>
        <!-- Git -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/git.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Git</span>
        </div>
        <!-- Github -->
        <div class="flex flex-col items-center">
          <img
            src="/images/skills/devops/github.svg"
            alt=""
            class="w-12 h-12 mb-2 brightness-0 dark:brightness-500 dark:invert"
          />
          <span class="text-text text-sm">Github</span>
        </div>
        <!-- IntelliJ -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/intellijidea.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">IntelliJ</span>
        </div>
        <!-- Nginx -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/nginx.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Nginx</span>
        </div>
        <!-- Ubuntu -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/ubuntu.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">Ubuntu</span>
        </div>
        <!-- VSCode -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/vscode.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">VSCode</span>
        </div>
        <!-- WebStorm -->
        <div class="flex flex-col items-center">
          <img src="/images/skills/devops/webstorm.svg" alt="" class="w-12 h-12 mb-2" />
          <span class="text-text text-sm">WebStorm</span>
        </div>
      </div>
    </div>
  </div>
</div>
